[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "thx.schema"]
	path = sample_code/thx.schema
	url = https://github.com/nuttycom/thx.schema.git
[submodule "thx.json"]
	path = sample_code/thx.json
	url = https://github.com/nuttycom/thx.json.git
